/* Navbar */
.navbar{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 500;
}

/* Blocks formatting */
.colored{
    background-color: rgb(13, 96, 165);
    padding:5% 5% 2%;
    color: rgb(253, 253, 253);
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-stretch: 110%;
}

.white{
    background-color: rgb(253, 253, 253);
    padding:3% 10% 2%;
    color: rgb(13, 96, 165);
    text-align: center;
}

/* Welcome section */
.face-photo{
    border-radius: 100%;
    border: 5px solid rgb(255, 255, 255);
    margin: 3%;
    margin-top: 6%;
}

.title{
    font-weight: 700;
}

.stitle{
    font-weight: 500;
    margin-bottom: 20px;
}

/* About me */
.about-icon{
    padding-top: 0%;
    font-size: 1000%;

}
.about-text{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
}

.about-subtext{
    opacity: 80%;
    font-size: 100%;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 500;
}

.about-icon1{
    padding-top: 5.5%;
    font-size: 1000%;
}

.phi{
    padding-bottom: 5.5%;

}
/* Projects */
.carousel-item{
    padding: 0% 7% ;
}
.carousel-title{
    margin-bottom: 5%;
}

.car-img{
    height: 50%;
    width: auto;
    margin-bottom: 3%;
    max-height: 50%;
}
.git-but{
    text-decoration: inherit;
    color: inherit;
}
.git-but:hover{
    text-decoration: inherit;
    color: inherit;
}
/* Projects list */
.projects-title{
    padding: 5% 2% 0%;
}
.project-column{
    padding: 2% 2% 5%;
}
/* Contact */
.contact{
    text-align: left;
    padding-left: 35%;
    padding-right: 35%;
}

/* Footer */
.footer{
    padding-top: 2%;
}