<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Tomasz Klochowicz</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='styles.css')}}" rel="stylesheet">
    <!-- Font Awsome script -->
    <script src="https://kit.fontawesome.com/522e9f6110.js" crossorigin="anonymous"></script>
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Source+Code+Pro&display=swap" rel="stylesheet">
</head>
<body>
     <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" id="mainNav">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"> </i> Menu
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href=""> Home</a>
              </li>
          <li class="nav-item">
            <a class="nav-link" href="">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">My projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Welcome page -->
  <div class="row colored"> <div class="col">
        <img src="static/face.jpg" class="face-photo">
        <h1 class="title">Hi, I am Tom</h1>
        <h3 class="stitle">Welcome to my portfolio website</h3>
        <h3><i class="fa-solid fa-chevron-down"></i></h3>
    </div></div>

<!-- About me -->
    <div class="row white"> 
        <div class="col-lg-4">
            <h1 class="about-icon1">&#9822;</h1>
            <h3 class="about-text">Logic</h3>
            <p class="about-subtext"> I graduated from the Master of Logic at the University of Amsterdam</p>
        </div>
        <div class="col-lg-4">
            <h1 class="about-icon1">	&#128435;</h1>
            <h3 class="about-text">AI & Computer Science</h3>
            <p class="about-subtext"> I completed multiple courses in programming and I was a TA at an AI Game Theory course.</p>
        </div>
        <div class="col-lg-4">
            <h1 class="about-icon phi">&phi;</h1>
            <h3 class="about-text">Philosophy</h3>
            <p class="about-subtext"> I hold a Bachelor in Philosophy from the University of Warsaw. Philosophy is still my passion.</p>
        </div>
    </div>

<!-- Skils -->
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>